main{
    width: 300px;
    height: 100px;
    margin: 20px auto;
}
.triangle_up{
    width: 0px;
    height: 0px;
    border-top: 50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid green;
}
.triangle_down{
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid green;
}
.block{
    height: 100px;
    float:left;
}
