body{
    margin: 0;
}
.wrapper{
    display: flex;
    min-height: 100vh;
    max-width: 1200px;
    flex-flow: column nowrap;
    margin: auto;
}
input, label{
    display: none;
}
/*блоки*/
hr{
    width: calc(100% - 10px);
}
.block{
    margin: 5px;
    padding: 5px;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: grey;
}
.lightgrey{
    background-color: lightgrey;
}
li{
    list-style: none;
}
/*HEADER*/
header{
    display: flex;
    min-height: 15vh;
}
header>:nth-child(1){
    flex-grow: 1;
}
header>:nth-child(2){
    flex-grow: 2;
}
header>:nth-child(3){
    flex-grow: 3;
} 
/*MAIN*/
main{
    display: flex;
    flex-wrap: wrap;
    flex: 1 ;
    position: relative;
    padding-bottom: 20px;
}
main>hr{
    position: absolute;
    left: 5px;
    bottom: 0;
}
/*ASIDE*/
aside{
    display: flex;
    flex-flow: column;
    min-width: 30%;
    justify-content: space-between;
}
aside>div:last-child{
    min-height: 50px;
}
.menu{
    display: flex;
    flex-direction: column;
}
/*ARTICLE*/
article{
    width: 70%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    position: relative;
}
article>*{
    flex-grow: 1;
}
article>div:nth-child(3){
    flex-grow: 1;
}
article>ul+div{
    max-height: 30%;
    width: calc((100% - 40px) / 2);
}
article>div:last-child{
    width: calc((100% - 40px) / 2);
    height: calc(30% - 5px);
    position: absolute;
    right: 0;
    bottom: 0;
}
/*UL*/
ul{
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}
article>div+ul>li{
    width: calc((100% - 100px)/ 5);
    margin: 5px;
    padding: 5px;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: lightgrey;
}
/*FOOTER*/
footer{
    display: flex;
    min-height: 20vh;
}
footer>div{
    flex: 1;
}
footer>div:nth-child(-n+2){
    height: 20vh;
}
footer>div:nth-child(3){
    height:  calc((20vh - 20px) / 2);
}
footer>div:nth-child(4){
    margin-left: calc((100% - 15px) / -3);
    margin-top: calc((20vh + 30px) / 2);
}
/*MEDIA*/
@media screen and (max-width:640px){
    label{
        display: block;
        text-decoration: underline;
        cursor: pointer;
    }
    header{
        flex-direction: column;
    }
    header>div:nth-child(3){
        flex-grow: 1;
    }
    header>div:nth-child(2),
    aside>div:last-child,.menu{
        display: none;
    }
    main{
        flex-direction: column;
    }
    article{
        width: 100%;
    }
    #menu:checked~.menu{
        display: block;
    }
    /*----------*/
    footer>div:not(:last-child){
        display: none;
    }
    footer>div:last-child{
        margin: 5px;
    }
}
@media screen and (min-width:1024px){
    aside{
        flex-direction: row;
        justify-content: stretch;
    }
    aside>*{
        flex-grow: 1;
    }
}