body{
    margin: 0;
}
.chessboard{
    width: 65vmin;
    height: 65vmin;
} 
.chessboard>div{ 
    width: 10%;
    height: 100%;
    float: left;
}
.chessboard>div>div{
    width: 100%;
    height: 10%;
    text-align: center;
}
.odd{
    background: linear-gradient(to bottom, 
        white 0%,white 10%,
        green 10.1%, green 20%, white 20.1%,white 30%,
        green 30.1%, green 40%, white 40.1%,white 50%,
        green 50.1%, green 60%, white 60.1%,white 70%,
        green 70.1%, green 80%, white 80.1%, white 90%,
        green 90.1%, green 90.2%, white 90.3%
        );
}
.even{
    background: linear-gradient(to top,
        white 0%,white 10%,
        green 10.1%, green 20%, white 20.1%,white 30%,
        green 30.1%, green 40%, white 40.1%,white 50%,
        green 50.1%, green 60%, white 60.1%,white 70%,
        green 70.1%, green 80%, white 80.1%, white 90%,
        green 90.1%, green 90.2%, white 90.3%
        );
}
/*рамка
.literas~div{
    outline: 1px solid green;
}
div+.literas{
    outline: none;
}*/
/*Расстановка фигур*/
[title], .pawn{
    background-image: url("../images/chess.png");
    background-size: 600% 200%;
    background-repeat: no-repeat;
}
.literas+[title="castle"]{
    background-position-x: 40%;
}
.pawn+[title="castle"]{
    background-position-y: 100%;
    background-position-x: 40%;
}
.literas+[title="horse"]{
    background-position-x: 82%;
}
.pawn+[title="horse"]{
    background-position-y: 100%;
    background-position-x: 82%;
}
.literas+[title="elefant"]{
    background-position-x: 61%;
}
.pawn+[title="elefant"]{
    background-position-y: 100%;
    background-position-x: 61%;
}
.literas+[title="king"]{
    background-position-x: -2%;
}
.pawn+[title="king"]{
    background-position-y: 100%;
    background-position-x: -2%;
}
.literas+[title="queen"]{
    background-position-x: 20%;
}
.pawn+[title="queen"]{
    background-position-y: 100%;
    background-position-x: 20%;
}
[title]+.pawn{ 
    background-position-x: 104%;
}
div+div+div+.pawn{ 
    background-position-y: 100%;
    background-position-x: 104%;
}
