.left{
    float: left;
}
.right{
    float: right;
}
.move{
    width: 20px;
    margin-left: -20px;
}
.clear{
    clear: both;
}
div{
    width: 10px;
    height: 20px;
}
body{
    margin: 20px;
    width: 30px;
}