body{
    margin: 0;
}
.chessboard{
    width: 100vmin;
    height: 100vmin;
} 
.chessboard>div{ 
    width: 10%;
    height: 100%;
    float: left;
}
.chessboard>div>div{
    width: 100%;
    height: 10%;
    line-height: 10vmin;  
    text-align: center;
}
/*раскраска поля без псевдоклассов*/
/*
.odd>.literas+div, .odd>.literas+div+div+div,
.odd>.literas+div+div+div+div+div,
.odd>.literas+div+div+div+div+div+div+div
{
    background-color: green;
}
.even>.literas+div+div,
.even>.literas+div+div+div+div,
.even>.literas+div+div+div+div+div+div,
.even>.literas+div+div+div+div+div+div+div+div
{
    background-color: green;
}*/

/*раскраска поля с псевдоклассами*/
.odd>div:not(.literas):nth-child(even), 
.even>div:not(.literas):nth-child(odd)
{
    background-color: green;
}
/*hover*/
.odd>div:not(.literas):hover, 
.even>div:not(.literas):hover{
    background-color: coral;
    outline: 1px solid coral;
}
/*рамка*/
.odd>div, .even>div{
    outline: 1px solid green;
}
div>.literas{
    outline: none;
}
/*Расстановка фигур:*/
/*Настройки спрайта*/
[title], .pawn{
    background-image: url("../images/chess.png");
    background-size: 600% 200%;
    background-repeat: no-repeat;
}
/*7 и 8 ряд: сдвиг спрайта на белые фигуры*/
.pawn+[title], div+div+div+.pawn{
    background-position-y: 100%;
}
/*Сдвиг спрайта для фигур*/
[title="castle"]{
    background-position-x: 40%;
}
[title="horse"]{
    background-position-x: 82%;
}
[title="elefant"]{
    background-position-x: 61%;
}
[title="king"]{
    background-position-x: -2%;
}
[title="queen"]{
    background-position-x: 20%;
}
.pawn{ 
    background-position-x: 104%;
}
