body, ul{
    margin: 0px;
}
/*Header*/
header{
    padding: 10px;
    background-color: coral;
}
/*--Logo*/
header>div{
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: chocolate;
    transition: 1s;
}
header>div:hover{
    background-color: cadetblue;
}

/*--Header Menu*/
header>div+ul{
    position: relative;
    text-align: right;
}
header>div+ul>li:nth-child(n){
    padding: 5px;
    display: inline;
}
header>div+ul>li:nth-child(n):hover{
    background-color: chocolate;
}
header>div+ul>li:nth-child(3)::after{
    display: inline-block;
    content: "";
    border: 0.5em solid transparent;
    border-width: 0.5em 0.3em 0px 0.3em;
    border-top-color: black;
}
header>div+ul>li:nth-child(3):hover>ul{
    display: block;
    opacity: 1;
}

/*--Header Submenu*/
header>div+ul>li:nth-child(3)>ul{
    position: absolute;
    right: 0px;
    padding: 5px;
    text-align: left;
    background-color: chocolate;
    padding-inline-start: 14px;
    display: none;
}
header>div+ul>li:nth-child(3)>ul>li:hover{
    background-color: coral;
}
/*Aside*/
aside{
    float: left;
    width: 110px;
    margin-right: -110px;
}
/*--Aside menu*/
aside>div+ul{
    list-style-type: none;
    padding-inline-start: 14px;
}
aside>div+ul>li{
    position: relative;
}
label:after{
    display: inline-block;
    content: "➤";
    line-height: 1em;
    position: absolute;
    right: 0px;
}
/*--Aside Submenu*/
aside>div+ul>li>ul{
    position: relative;
    opacity: 1;
    top: -1em;
    left: 104%;
    padding: 5px;
    padding-inline-start: 14px;
    display: none;
    background-color: chocolate;
}
aside>div+ul>li:hover{
    background-color: chocolate;
}
aside>div+ul>li>ul>li:hover{
    background-color: peru;
}
#one:checked~aside>div+ul>li:nth-child(1)>ul,
#two:checked~aside>div+ul>li:nth-child(2)>ul,
#three:checked~aside>div+ul>li:nth-child(3)>ul
{
    display: block;
    transition: 2s;
}
input{
    display: none;
}

/*Main*/
main{
    padding: 10px;
    border-left: 110px solid peru;
    background-color: lightsteelblue;
}
main::after{
    display: block;
    content: "";
    clear: both;
}
/*Footer*/
footer{
    padding: 10px;
    clear: both;
    text-align: center;
    background-color: cadetblue;
}
