body{
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
p{
    margin:10px;
    line-height: 1em;
}
.left-colamn{
    float: left;
    width: 320px;
    height: 115;
}
.right-colamn{
    float: left;
    height: 115;
    text-align: center;
    border: 1px dashed red;
    border-radius: 5px;
    line-height: 0;
}
.percent{
     color: red;
     font-size: 2em;
}
.deadline{
     color: red;
     margin: 20px;
}
.wrap{
    margin: 0 auto;
    width: 440px;
    height: 80px;
}
.alarm{
    float: left;
    margin: 0px 10px;
    width: 35px;
    height: 35px;
}